@charset "UTF-8";
/* géneral */
body {
  margin: 0;
}

p {
  font-family: roboto;
}

h2 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 700;
}

h1 {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #101010;
  text-align: center;
}

.heart-full {
  opacity: 0;
  background-image: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-clip: text;
  color: transparent;
}

.heart-full:hover {
  opacity: 1;
  transition-duration: 1s;
}

/* haut de la page */
header .title {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 4px;
}
header p {
  font-size: 16px;
  font-weight: 500;
}

/* ceci est le bloc section sous le header */
.text-infos div {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 30px;
  padding-top: 20px;
}
.text-infos button {
  border-radius: 50px;
  width: 60%;
  height: 50px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.text-infos p {
  font-size: 18px;
  font-weight: 300;
}

/* ceci est la section categories */
.categories {
  padding-bottom: 30px;
  padding-top: 25px;
}
.categories .button-categories {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 15px;
}
.categories button {
  padding: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories img {
  margin-right: 20px;
}
.categories h2 {
  padding-left: 20px;
}

/* ceci est la section articles */
.card {
  background-color: #F6F6F6;
  padding: 30px;
}
.card .card-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card article {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
}
.card .info-txt {
  width: 20%;
  padding: 8px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  position: absolute;
  right: 45px;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card .card-content {
  padding-left: 10px;
  line-height: 4px;
  padding-bottom: 10px;
}
.card i {
  position: absolute;
  right: 50px;
}
.card h3 {
  font-family: roboto;
  font-weight: 700;
  font-size: 18px;
}
.card p {
  font-size: 17px;
  font-weight: 300;
}

/* ceci est le bas de la page */
footer {
  background-color: #353535;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer a {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
footer img {
  margin-right: 10px;
}
footer h2 {
  color: #ffffff;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

/* pages des restaurants */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 63px;
  align-items: center;
}
.header img {
  position: relative;
  right: 95px;
}

.container .container-menu {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  top: -45px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}
.container .img-plat {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.container i {
  position: absolute;
  top: 45px;
  right: 50px;
  line-height: 0;
  font-size: 24px;
}
.container h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  line-height: 0;
  margin-top: 45px;
}
.container h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  margin-top: 50px;
  margin-bottom: 0;
}
.container h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-top: 15px;
}
.container p {
  font-family: Roboto;
  font-size: 15.04px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 15px;
}
.container .prix-menu {
  display: flex;
  justify-content: right;
  position: relative;
  top: -20px;
  margin: 15px;
  font-family: Roboto;
  font-size: 15.04px;
  font-weight: 700;
}
.container article {
  background-color: #FFFFFF;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  height: 50px;
  line-height: 0;
  padding: 10px;
  margin-top: 10px;
}
.container .menu-button {
  display: flex;
  justify-content: center;
}
.container .button-menu {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: transparent;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #F6F6F6;
  text-align: center;
  width: 45%;
  height: 50px;
  border-radius: 25px;
  margin-top: 45px;
}

/* mediaqueries */
@media all and (min-width: 1280px) {
  .container .header img {
    right: 650px;
  }
  .container .img-plat {
    height: 400px;
  }
  .container .container-menu {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .container .container-menu i {
    position: absolute;
    right: 380px;
  }
  .container .container-menu h2 {
    text-align: center;
  }
  .container .container-menu .button-menu {
    width: 200px;
  }
  .categories {
    padding: 50px 180px 50px 180px;
  }
  .categories .button-categories {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .categories button {
    width: 40%;
  }
  .text-infos button {
    width: 20%;
  }
  .text-infos br {
    display: none;
  }
  .card {
    padding: 50px 195px 50px 195px;
  }
  .card-menu {
    display: flex;
    flex-direction: row;
  }
  .card-menu article {
    width: 40%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
  footer .list-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .element-footer {
    margin-right: 25px;
  }
  footer h2 {
    margin-right: 50px;
    margin-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
